<div id="git-settings-dialog" class="git modal">
    <div class="modal-header">
        <h1 class="dialog-title">{{GIT_SETTINGS}}</h1>
    </div>
    <div class="modal-body">

        <ul class="nav nav-tabs" id="git-settings-tabs">
            <li class="active"><a href="#git-settings-tab-features">{{FEATURES}}</a></li>
            <li> <a href="#git-settings-tab-shortcuts">{{SHORTCUTS}}</a></li>
            <li> <a href="#git-settings-tab-gitConfig">{{GIT_CONFIGURATION}}</a></li>
            <li> <a href="#git-settings-tab-debug">{{DEBUG}}</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="git-settings-tab-features">
                <!-- #features -->
                <div class="row-fluid">
                    <div class="span6">
                        <label for="git-settings-stripWhitespaceFromCommits">
                            <input id="git-settings-stripWhitespaceFromCommits" type="checkbox" settingsProperty="stripWhitespaceFromCommits" /> {{STRIP_WHITESPACE_FROM_COMMITS}}
                        </label>
                    </div>
                    <div class="span6">
                        <label for="git-settings-addEndlineToTheEndOfFile">
                            <input id="git-settings-addEndlineToTheEndOfFile" type="checkbox" settingsProperty="addEndlineToTheEndOfFile" /> {{ADD_ENDLINE_TO_THE_END_OF_FILE}}
                        </label>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span6">
                        <label for="git-settings-removeByteOrderMark">
                            <input id="git-settings-removeByteOrderMark" type="checkbox" settingsProperty="removeByteOrderMark" /> {{REMOVE_BOM}}
                        </label>
                    </div>
                    <div class="span6">
                        <label for="git-settings-normalizeLineEndings">
                            <input id="git-settings-normalizeLineEndings" type="checkbox" settingsProperty="normalizeLineEndings" /> {{NORMALIZE_LINE_ENDINGS}}
                        </label>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span6">
                        <label for="git-settings-useGitGutter">
                            <input id="git-settings-useGitGutter" type="checkbox" settingsProperty="useGitGutter" /> {{USE_GIT_GUTTER}}
                        </label>
                    </div>
                    <div class="span6">
                        <label for="git-settings-markModifiedInTree">
                            <input id="git-settings-markModifiedInTree" type="checkbox" settingsProperty="markModifiedInTree" /> {{MARK_MODIFIED_FILES_IN_TREE}}
                        </label>
                    </div>
                </div>
                <!--div class="row-fluid">
                    <div class="span6">
                        <label for="git-settings-showBashButton">
                            <input id="git-settings-showBashButton" type="checkbox" settingsProperty="showBashButton" />
                            {{SHOW_BASH_TERMINAL_BUTTON}}
                        </label>
                    </div>
                </div/-->
                <div class="row-fluid">
                    <div class="span6">
                        <label for="git-settings-useCodeInspection">
                            <input id="git-settings-useCodeInspection" type="checkbox" settingsProperty="useCodeInspection" /> {{USE_CODE_INSPECTION}}
                        </label>
                    </div>
                    <div class="span6">
                        <label for="git-settings-useGitFtp">
                            <input id="git-settings-useGitFtp" type="checkbox" settingsProperty="useGitFtp" /> {{USE_GITFTP}}
                        </label>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span6">
                        <label for="git-settings-useVerboseDiff">
                            <input id="git-settings-useVerboseDiff" type="checkbox" settingsProperty="useVerboseDiff" /> {{USE_VERBOSE_DIFF}}
                        </label>
                    </div>
                    <div class="span6">
                        <label for="git-settings-useDifftool">
                            <input id="git-settings-useDifftool" type="checkbox" settingsProperty="useDifftool" /> {{USE_DIFFTOOL}}
                        </label>
                    </div>
                </div>
                <div class="row-fluid">
                    <!--div class="span6">
                        <label for="git-settings-showTerminalIcon">
                            <input id="git-settings-showTerminalIcon" type="checkbox" settingsProperty="showTerminalIcon" /> {{SHOW_TERMINAL_IN_TOOLBAR}}
                        </label>
                    </div/-->
                    <div class="span6">
                        <label for="git-settings-clearWhitespaceOnSave">
                            <input id="git-settings-clearWhitespaceOnSave" type="checkbox" settingsProperty="clearWhitespaceOnSave" /> {{CLEAR_WHITESPACE_ON_FILE_SAVE}}
                        </label>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span6">
                        <label for="git-settings-avatarType">
                            {{AVATAR_TYPE}}:
                        </label>
                        <select id="git-settings-avatarType" settingsProperty="avatarType">
                            <option value="AVATAR_BW">{{BLACK_WHITE_AVATAR}}</option>
                            <option value="AVATAR_COLOR">{{COLORED_AVATAR}}</option>
                            <option value="IDENTICON">{{IDENTICON}} ({{REQ_INTERNET}})</option>
                            <option value="PICTURE">{{PICTURE}} ({{REQ_INTERNET}})</option>
                        </select>
                    </div>
                </div>
                <hr></hr>
                <div class="row-fluid">
                    <div class="span6">
                        <label for="git-settings-dateMode">
                            {{SHOWN_DATE_FORMAT}}:
                        </label>
                        <select id="git-settings-dateMode" settingsProperty="dateMode">
                            <option value="0">{{DATE_MODE_0}} ({{DATE_FORMAT}})</option>
                            <option value="1">{{DATE_MODE_1}}</option>
                            <option value="2">{{DATE_MODE_2}}</option>
                            <option value="3">{{DATE_MODE_3}}</option>
                            <option value="4">{{DATE_MODE_4}}</option>
                        </select>
                    </div>
                    <div class="span6" id="git-settings-dateFormat-container">
                        <label for="git-settings-dateFormat">
                            {{{USER_DATE_FORMAT}}}:
                        </label>
                        <input id="git-settings-dateFormat" type="text" settingsProperty="dateFormat" placeholder="{{DATE_FORMAT}}">
                    </div>
                </div>
                <hr></hr>
                <div class="row-fluid">
                    <div class="span6 advanced-features-setting">
                        <label for="git-settings-enableAdvancedFeatures">
                            <input id="git-settings-enableAdvancedFeatures" type="checkbox" settingsProperty="enableAdvancedFeatures" /> {{ENABLE_ADVANCED_FEATURES}}
                        </label>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        {{ADVANCED_FEATURES_WARNING}}
                    </div>
                </div>
                <!-- /features -->
            </div>
            <div class="tab-pane" id="git-settings-tab-shortcuts">
                <!-- #shortcuts -->
                <div class="row-fluid">
                    <div class="span12">
                        {{{SHORTCUTS_HINT}}}
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span4">
                        <label for="git-settings-panelShortcut">{{PANEL_SHORTCUT}}:</label>
                        <input id="git-settings-panelShortcut" type="text" settingsProperty="panelShortcut" />
                    </div>
                    <div class="span4">
                        <label for="git-settings-commitCurrentShortcut">{{COMMIT_CURRENT_SHORTCUT}}:</label>
                        <input id="git-settings-commitCurrentShortcut" type="text" settingsProperty="commitCurrentShortcut" />
                    </div>
                    <div class="span4">
                        <label for="git-settings-commitAllShortcut">{{COMMIT_ALL_SHORTCUT}}:</label>
                        <input id="git-settings-commitAllShortcut" type="text" settingsProperty="commitAllShortcut" />
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span4">
                        <label for="git-settings-bashShortcut">{{LAUNCH_BASH_SHORTCUT}}:</label>
                        <input id="git-settings-bashShortcut" type="text" settingsProperty="bashShortcut" />
                    </div>
                    <div class="span4">
                        <label for="git-settings-pushShortcut">{{PUSH_SHORTCUT}}:</label>
                        <input id="git-settings-pushShortcut" type="text" settingsProperty="pushShortcut" />
                    </div>
                    <div class="span4">
                        <label for="git-settings-pullShortcut">{{PULL_SHORTCUT}}:</label>
                        <input id="git-settings-pullShortcut" type="text" settingsProperty="pullShortcut" />
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span4">
                        <label for="git-settings-gotoPrevChangeShortcut">{{GOTO_PREVIOUS_GIT_CHANGE}}:</label>
                        <input id="git-settings-gotoPrevChangeShortcut" type="text" settingsProperty="gotoPrevChangeShortcut" />
                    </div>
                    <div class="span4">
                        <label for="git-settings-gotoNextChangeShortcut">{{GOTO_NEXT_GIT_CHANGE}}:</label>
                        <input id="git-settings-gotoNextChangeShortcut" type="text" settingsProperty="gotoNextChangeShortcut" />
                    </div>
                    <div class="span4">
                        <label for="git-settings-refreshShortcut">{{REFRESH_GIT}}:</label>
                        <input id="git-settings-refreshShortcut" type="text" settingsProperty="refreshShortcut" />
                    </div>
                </div>
                <!-- /shortcuts -->
            </div>
            <div class="tab-pane" id="git-settings-tab-gitConfig">
                <!-- #gitConfig -->
                <h4>{{BASIC_CONFIGURATION}}</h4>
                <div class="row-fluid">
                    <label for="git-settings-gitPath">{{PATH_TO_GIT_EXECUTABLE}}:</label>
                    <input id="git-settings-gitPath" type="text" settingsProperty="gitPath" />
                </div>
                <div class="row-fluid">
                    <label for="git-settings-gitTimeout">{{DEFAULT_GIT_TIMEOUT}}:</label>
                    <input id="git-settings-gitTimeout" type="number" settingsProperty="gitTimeout" />
                </div>
                <div class="row-fluid">
                    <label for="git-settings-terminalCommand">{{CUSTOM_TERMINAL_COMMAND}}:</label>
                    <input id="git-settings-terminalCommand" type="text" settingsProperty="terminalCommand" />
                </div>
                <div class="row-fluid">
                    <label for="git-settings-terminalCommandArgs">{{COMMAND_ARGUMENTS}}:</label>
                    <input id="git-settings-terminalCommandArgs" type="text" settingsProperty="terminalCommandArgs" />
                </div>
                <div class="row-fluid">
                    {{{CUSTOM_TERMINAL_COMMAND_HINT}}}
                </div>
                <!-- /gitConfig -->
            </div>
            <div class="tab-pane" id="git-settings-tab-debug">
                <!-- #debug -->
                <div class="row-fluid">
                    <div class="pull-right">
                        <label for="git-settings-debugMode">
                            <input id="git-settings-debugMode" type="checkbox" settingsProperty="debugMode" /> {{{DEBUG_MODE_SETTING}}}
                        </label>
                    </div>
                </div>
                <!-- /debug -->
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button data-button-id="changelog" class="dialog-button btn left">{{BUTTON_CHANGELOG}}</button>
        <button data-button-id="defaults" class="dialog-button btn left">{{BUTTON_DEFAULTS}}</button>
        <button data-button-id="cancel" class="dialog-button btn cancel btn-80">{{BUTTON_CANCEL}}</button>
        <button data-button-id="ok" class="dialog-button btn primary btn-80">{{BUTTON_SAVE}}</button>
    </div>
</div>
