<div id="git-panel" class="git bottom-panel vert-resizable top-resizer no-focus">
    <div class="toolbar simple-toolbar-layout mainToolbar">

        <!-- on left -->
        <input type="checkbox" class="check-all git-available" />
        <div class="btn-group git-available">
            <button title="{{S.TOOLTIP_COMMIT}}" class="btn small git-commit" disabled><i class="octicon octicon-git-commit"></i><span>{{S.BUTTON_COMMIT}}</span></button>
        </div>
        <div class="git-available padding-right-small">
            <div class="btn-group git-rebase">
                <button title="{{S.TOOLTIP_REBASE_CONTINUE}}" class="btn small git-rebase-continue">
                    <i class="octicon octicon-git-commit"></i><span>{{S.BUTTON_REBASE_CONTINUE}}</span>
                </button>
                <button title="{{S.TOOLTIP_REBASE_SKIP}}" class="btn small git-rebase-skip">
                    <span>{{S.BUTTON_REBASE_SKIP}}</span>
                </button>
                <button title="{{S.TOOLTIP_REBASE_ABORT}}" class="btn small git-rebase-abort">
                    <span>{{S.BUTTON_REBASE_ABORT}}</span>
                </button>
                <!--
                <button title="{{S.TOOLTIP_FIND_CONFLICTS}}" class="btn small git-find-conflicts">
                    <span>{{S.BUTTON_FIND_CONFLICTS}}</span>
                </button>
                -->
            </div>
        </div>
        <div class="git-available padding-right-small">
            <div class="btn-group git-merge">
                <button title="{{S.TOOLTIP_COMMIT}}" class="btn small git-commit-merge">
                    <i class="octicon octicon-git-commit"></i><span>{{S.BUTTON_COMMIT}}</span>
                </button>
                <button title="{{S.TOOLTIP_MERGE_ABORT}}" class="btn small git-merge-abort">
                    <span>{{S.BUTTON_MERGE_ABORT}}</span>
                </button>
                <!--
                <button title="{{S.TOOLTIP_FIND_CONFLICTS}}" class="btn small git-find-conflicts">
                    <span>{{S.BUTTON_FIND_CONFLICTS}}</span>
                </button>
                -->
            </div>
        </div>
        <div class="btn-group git-available">
            <button title="{{S.GOTO_PREVIOUS_GIT_CHANGE}}" class="btn small git-prev-gutter"><i class="octicon octicon-arrow-up"></i></button>
            <button title="{{S.GOTO_NEXT_GIT_CHANGE}}" class="btn small git-next-gutter"><i class="octicon octicon-arrow-down"></i></button>
        </div>
        <div class="btn-group git-available">
            <button title="{{S.TOOLTIP_SHOW_HISTORY}}" class="btn small git-history-toggle"><i class="octicon octicon-history"></i></button>
            <button title="{{S.TOOLTIP_SHOW_FILE_HISTORY}}" class="btn small git-file-history"><i class="octicon octicon-file-text"></i></button>
        </div>
        <div class="btn-group git-not-available">
            <button title="{{S.TOOLTIP_INIT}}" class="btn small git-init"><i class="octicon octicon-repo-create"></i><span>{{S.BUTTON_INIT}}</span></button>
            <button title="{{S.TOOLTIP_CLONE}}" class="btn small git-clone"><i class="octicon octicon-repo-clone"></i><span>{{S.BUTTON_CLONE}}</span></button>
        </div>
        <!-- this should be last on left -->
        <div class="btn-group git-available">
            <button title="{{S.TOOLTIP_REFRESH_PANEL}}" class="btn small git-refresh git-icon"><i class="octicon octicon-sync"></i></button>
            <div class="btn-group dropup">
                <button type="button" class="git-more btn small dropdown-toggle" data-toggle="dropdown" title="{{S.TOOLTIP_MORE}}">
                    <i class="octicon octicon-three-bars"></i>
                </button>
                <ul class="dropdown-menu">
                    <!-- {{#enableAdvancedFeatures}}<li class="advanced-feature"><a class="action" href="#">{{STRING}}</a></li>{{/enableAdvancedFeatures}} -->
                    <li><a class="reset-all" href="#">{{S.RESET_LOCAL_REPO}}</a></li>
                    <li><a class="undo-last-commit" href="#">{{S.UNDO_LAST_LOCAL_COMMIT}}</a></li>
                    <li class="divider"></li>
                    <li><a class="change-user-name" href="#">{{S.CHANGE_USER_NAME}} (<span class="git-user-name"></span>)</a></li>
                    <li><a class="change-user-email" href="#">{{S.CHANGE_USER_EMAIL}} (<span class="git-user-email"></span>)</a></li>
                    <li class="divider"></li>
                    <li><a class="toggle-gerrit-push-ref" href="#">{{S.ENABLE_GERRIT_PUSH_REF}}</a></li>
                    <li class="divider"></li>
                    <li><a class="authors-selection" href="#">{{S.VIEW_AUTHORS_SELECTION}}</a></li>
                    <li><a class="authors-file" href="#">{{S.VIEW_AUTHORS_FILE}}</a></li>
                    <li class="divider"></li>
                    <li><a class="git-toggle-untracked" href="#">{{S.HIDE_UNTRACKED}}</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <button title="Create tag" class="btn small tags"><i class="octicon octicon-tag"></i></button>
            </div>
        </div>
        <!-- on right -->
        <div class="git-right-icons">
            <div class="btn-group git-available dropup">
                <ul class="dropdown-menu git-remotes-dropdown"></ul>
                <button type="button" class="git-remotes btn small dropdown-toggle" data-toggle="dropdown" title="{{S.TOOLTIP_PICK_REMOTE}}">
                    <span class="caret"></span>
                    <span class="git-selected-remote">&mdash;</span>
                </button>
                <button title="{{S.TOOLTIP_FETCH}}" class="btn small git-fetch"><i class="octicon octicon-cloud-download"></i></button>
                <button title="{{S.TOOLTIP_PULL}}" class="btn small git-pull"><i class="octicon octicon-repo-pull"></i></button>
                <button title="{{S.TOOLTIP_PUSH}}" class="btn small git-push"><i class="octicon octicon-repo-push"></i></button>
            </div>
            <div class="btn-group">
                <!--{{#showBashButton}}<button title="{{S.TOOLTIP_OPEN_BASH}}" class="btn small git-bash"><i class="octicon octicon-terminal"></i></button>{{/showBashButton}}/-->
                <button title="{{S.GIT_SETTINGS}}" class="btn small git-settings"><i class="octicon octicon-settings"></i></button>
            </div>
        </div>
        <a href="#" class="close">&times;</a>

    </div>
    <div class="table-container resizable-content"></div>
</div>
